* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../IMAGES/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: repeat-x;
}
div.card {
  position: relative;
  top: -55px;
  left: 65px;
}
@media (max-width: 375px) {
  div.card {
    background-image: url(../IMAGES/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    position: relative;
    
    top: -170px;
    right: -60px;
  }
}
@media (max-width: 768px) {
  div.card {
    position: relative;
    left: 70px;
  }
}
div.header {
  width: 315px;
  height: 500px;
  position: relative;
  top: 260px;
  left: -60px;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%);
}
h1 {
  color: hsl(223, 47%, 23%);
}
div.header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.landing {
  background-color: white;
  width: 315px;
  height: 360px;
  text-align: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
  bottom: 106px;
  left: -60px;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%);
}
@media (max-width: 375px) {
  div.landing {
    position: relative;
    top: -106px;
  }
}
@media (max-width: 768px) {
  div.landing {
    position: relative;
    top: -122px;
  }
}
.container p:nth-child(2) {
  color: hsl(224, 23%, 55%);
}
.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(3px, 3px);
  color: hsl(223, 47%, 23%);
  background-color: hsl(225, 100%, 98%);
  width: 85%;
  height: 75px;
  border-radius: 9px;
  position: relative;
  left: 25px;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%);
}
div.plan img {
  display: flex;
  transform: translate(-82px, 59px);
}
.pl {
  transform: translate(-26px, -15px);
  font-size: 20px;
}
.mon {
  transform: translate(-26px, -34px);
  color: hsl(224, 23%, 55%);
}
.chan {
  transform: translate(95px, -64px);
}
.chan a:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}
.plan a {
  color: hsl(245, 75%, 52%);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.payment a.proceed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 69%;
  height: 52px;
  border-radius: 9px;
  transform: translate(55px, 25px);
  text-decoration: none;
}
div.payment a.proceed:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
}
div.payment a.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  transform: translate(12px, 37px);
}
div.payment a.or:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
  transition: 0.4s;
}
